.update-category-modal-actions {
    justify-content: center !important;
  }
  
  .save-button {
    color: #fff !important;
  }
  
  .update-category-modal-content {
    padding: 1rem !important;
  }